.flex {
    display: flex;
}

.text-black {
    color: rgb(0, 0, 0);
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.direction-column {
    flex-direction: column;
}

