* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

form {
    color: black;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

div {
    background-color: white;
    position: relative;
}

svg {
    position: absolute;
}

.icon {
    z-index: 99;
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4px;
    position: relative;
    right: -130px;

}

form h1 {
    font-size: 14px;
    text-align: center;
    margin-top: -12px;
}

.s {
    font-size: 8px;
    text-align: center;
    margin-bottom: 7px;
    color: #0079ad
}

label > p {
    font-size: 8px;
    margin-bottom: 4px;
}

label {
    margin-bottom: 10px;
}

label input {
    padding: 2px 3px;
    outline: none;
}

textarea {
    padding: 5px;
    font-size: 11.5px;
    outline: none;
    resize: none;
}

form > p:last-child {
    text-align: center;
}

input[type="submit"] {
    padding: 3px 10px;
    border: none;
    background-color: #a2f710;
    border-radius: 2px;
    cursor: pointer;
}